@each $item in header, main {
    #{$item} {
        text-align: center;
        color: $bianco;
        margin: 0 auto;
    }
}
@each $i in nav, footer {
    #{$i} {
        padding: 30px 0;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        color: $bianco;
    }
}