@mixin centratura {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

// variabili di colori
$verde: green;
$rosso: red;
$grigio: gray;
$blu: blue;
$max-hoover: 40px;